{% extends 'basef.html.twig' %}

{% block title %}Nouvelle réservation d'abonnement{% endblock %}

{% block body %}
    <h1>Réserver l'abonnement: {{ abonnement.nom }}</h1>

    {{ form_start(form) }}
        {{ form_row(form.fullname) }}
        {{ form_row(form.dateDebut) }}
        {{ form_row(form.dateFin) }}
        {{ form_row(form.statut) }}

        <div class="mt-3">
            <button type="submit" class="btn btn-primary">Confirmer la réservation</button>
            <a href="{{ path('app_abonnement_reservation_index') }}" class="btn btn-secondary">Retour</a>
        </div>
    {{ form_end(form) }}

    <div class="mt-4">
        <h4>Détails de l'abonnement:</h4>
        <p><strong>Prix mensuel:</strong> {{ abonnement.prix }} €</p>
        <p><strong>Description:</strong> {{ abonnement.description }}</p>
    </div>
{% endblock %}